.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    background-color: #082032;
    z-index: 1;
}

.link {
    text-decoration: none;
    color: cadetblue;
    font-weight: 300;
}


.navlist {
    display: flex;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.item {
    display: inline;
    margin-right: 2rem;
 
    }