.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    box-shadow: 1px 1px 5px 1px rgb(153 153 155 / 40%);
    background-color: #082032;
    z-index: 1;
}

.link {
    margin-left: 2rem;
    margin-right: 1rem;
    text-decoration: none;
    color: #EAE2B6;
    transition: all .3s ease-in-out;
}

.link:hover {
    transform:translateX(10px);
    text-shadow: 1px 1px 1px rgba(170, 158, 158, 0.555);   
    color: rgb(230, 76, 76);
   
}


.navlist {
    display: flex;
    margin-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



